@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh; /* Ensure body takes full height */
}

main {
    flex: 1; /* Allow main to grow and fill available space */
    padding: 0; /* Remove any padding */
}
